<?xml version="1.0" encoding="utf-8"?>
<CONFIG>
  <transmit>
    <padding Value="/HAMCHAT/"/>
    <EOT Value="//EOT//"/>
    <vox_padding Value="/ALPHA-BRAVO-ECHO-DELTA"/>
    <md5_format Value="/MD5:%s/"/>
    <time_format Value="/TIME:%s//"/>
    <modem Value="BPSK500"/>
    <encrypt Value="No"/>
  </transmit>
  <user>
    <id Value="xqtr"/>
    <groupid/>
    <key Value="howdy"/>
  </user>
  <trasmit>
    <encrypt Value="Yes"/>
  </trasmit>
  <options>
    <inbox_reccount Value="20"/>
    <outbox_reccount Value="10"/>
  </options>
</CONFIG>
